<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #img1{
            margin:30px 0;
            width:100%;
        }
        h1{
            text-align:center;
        }
        h3{
            text-align:center;
            line-height:30px;
            margin:0;
            padding:0;
        }
        p{
            text-align:center;
            margin:0;
            padding:0;
        }
    </style>
</head>
<body>
    <h1>系统主要功能</h1>
    <div>通过统一集中的用户身份管理系统，实现对网站用户的数据的管理，对网站中产品的管理，对用户和产品进行数据的查询、修改、增添和删除的操作。</div>
    <img id="img1" src="http://www.wingconn.com/fckupload/images/%E5%9B%BE%E7%89%875(1).png" alt="">
    <h3>综合数据分析</h3>
    <p>系统对活跃用户的实时分析；通过数据监测系统安全隐患；</p>
    <img id="img1" src="http://www.wingconn.com/fckupload/images/121111.png" alt="">
</body>
</html>